= form_for @manga do |f|
  - if @manga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manga.errors.count, "error")} prohibited this manga from being saved:"
      %ul
        - @manga.errors.full_messages.each do |message|
          %li= message

  .field
    %p= f.label :title
    %p= f.text_field :title
  .field
    %p= f.label :LatestChapter
    %p= f.number_field :LatestChapter
  .field
    %p= f.label :Status
    %p= f.text_field :Status
  .field
    %p= f.label :Genre
    %p= f.text_field :Genre
  .field
    %p= f.label :Published
    %p= f.date_field :Published
  .actions
    %p= f.submit 'Save'
