= form_for @manga do |f|
  - if @manga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manga.errors.count, "error")} prohibited this manga from being saved:"
      %ul
        - @manga.errors.full_messages.each do |message|
          %li= message

  .field
    %p= f.label :title
    %p= f.text_field :title
  .field
    %p= f.label :availability
    %p= f.text_field :availability
  .field
    %p= f.label :volumeNum
    %p= f.number_field :volumeNum
  .field
    %p= f.label :owner
    %p= f.text_field :owner
  .field
    %p= f.label :borrower
    %p= f.text_field :borrower
  .field
    %p= f.label :value
    %p= f.number_field :value
  .actions
    %p= f.submit 'Save'
