= form_for @manga do |f|
  - if @manga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manga.errors.count, "error")} prohibited this manga from being saved:"
      %ul
        - @manga.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :availability
    = f.text_field :availability
  .field
    = f.label :volumeNum
    = f.number_field :volumeNum
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :borrower
    = f.text_field :borrower
  .field
    = f.label :value
    = f.number_field :value
  .actions
    = f.submit 'Save'
