.container-center2
  %h1 Manga Collection
  %br
  %table
    %thead
      %tr
        %th Title
        %th LatestChapter
        %th Status
        %th Published
        %th Genre
        %th
        %th
        %th

    %tbody
      - @mangas.each do |manga|
        %tr
          %td= manga.title
          %td= manga.LatestChapter
          %td= manga.Status
          %td= manga.Published
          %td= manga.Genre
          %td= link_to 'Show', manga
          %td= link_to 'Edit', edit_manga_path(manga)
          %td= link_to 'Destroy', manga, method: :delete, data: { confirm: 'Are you sure?' }

  %br
    = link_to 'New Manga', new_manga_path
