.container-center2
  %h1 Manga Collection
  %br
  %table
    %thead
      %tr
        %th Title
        %th Availability
        %th Owner
        %th Borrower
        %th Value
        %th
        %th
        %th

    %tbody
      - @mangas.each do |manga|
        %tr
          %td= "#{manga.title} Volume #{manga.volumeNum}"
          %td= manga.availability
          %td= manga.owner
          %td= manga.borrower
          %td= "£#{manga.value}"
          %td= link_to 'Show', manga
          %td= link_to 'Edit', edit_manga_path(manga)
          %td= link_to 'Destroy', manga, method: :delete, data: { confirm: 'Are you sure?' }

  %br
    = link_to 'New Manga', new_manga_path
