%p#notice= notice

%p
  %b Title:
  = @manga.title
%p
  %b Availability:
  = @manga.availability
%p
  %b Volumenum:
  = @manga.volumeNum
%p
  %b Owner:
  = @manga.owner
%p
  %b Borrower:
  = @manga.borrower
%p
  %b Value:
  = @manga.value

= link_to 'Edit', edit_manga_path(@manga)
\|
= link_to 'Back', mangas_path
