.container-center3
  %p
    %b Title:
    = @manga.title
  %p
    %b Latest Chapter:
    = @manga.LatestChapter
  %p
    %b Status:
    = @manga.Status
  %p
    %b Publisher:
    = @manga.Published
  %p
    %b Genre:
    = @manga.Genre

  %p= link_to 'Add Review', new_review_path(manga_id: @manga)
  %p= link_to 'Edit', edit_manga_path(manga_id: @manga)
  %p= link_to 'Back', mangas_path
