.container
    .text-center
        %h1= t('.title')
        %p= t('.introduction')
        %img(src="/groupphoto.jpg")

    .col
        %h2= t('.regularsessionheader')
        %p= t('.regularsessiondescription')

        %h2= t('.eventheader')

        %p= t('.eventdescription')
        %ul
            %li= t('.event1') 
            %li= t('.event2') 
            %li= t('.event3') 
            %li= t('.event4') 
            %li= t('.event5') 
            %li= t('.event6') 
            %li= t('.event7') 
            %li= t('.event8') 
            %li= t('.event9') 
            %li= t('.event10') 

        %h3= t('.conclusion') 